<%= render 'books/sidebar', user: @user, book: @book %>

<h1>user show</h1>
<% @user.books.each do |book| %>
  <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: 'no_image.jpg' %>
  <%= link_to "#{book.title}", book_path(book.id) %>
  <%= book.body %>
<% end %>